<div class="card">
  <div class="card-header">
    <div class="float-start">{{title}}</div>
    <div class="float-end">Posted By {{logged_in_username}} on {{date_created}}</div>
  </div>
  <div class="card-body">
    <p>{{content}}</p>
  </div>
</div>