{{#if posts}}
{{#each posts as |post|}}
{{> blogposts}}
{{/each}}
{{/if}}

<div>
  <button type="button" class="btn btn-primary" id="add-post-button">Create a New Post</button>
</div>

<script src="/js/dashboard.js"></script>